/* This is for 1366px screen size but I made responsive syntax below*/
body {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    font-family: Arial;
    transition: background 0.2s linear;
}

.btns {
    /* border: 1px solid yellow; */
    position: relative;
    margin: auto;
    width: 35%;
    margin-block-start: 5%;
    margin-inline-start: 41%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.btns a {
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 20%;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

.btns a:hover {
    color: black;
    background-color: #f39c12;
}


/* button design for light and dark mode */

.btn-container {
    position: relative;
    border-radius: 45px;
    width: 6%;
    margin-top: 3%;
    margin-bottom: -5%;
    margin-inline-start: 81%;
    cursor: pointer;
}
/* function design */
body.dark {
    background-color: #292c35;
} /* #9b59b6 */

body.dark h2, body.dark h3, body.dark p, body.dark a, body.dark a ~ i {
    color: white;
}

body.dark .body-container{
    background-color: #939cb96c;
}

body.dark .btns a {
    color: black;
    box-shadow: 3px 2px 2px#e3e3e36c;
}

body.dark a:hover {
    color: black;
}

body.dark .image > img{
    box-shadow: 5px 4px 2px#c3c3c36c ;
}

body.dark .circles li {
    background: rgba(255, 255, 255, 0.500);
}



/* button design */
.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox-label {
  background-color: #111;
  width: 90%;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 45%;
  height: 33px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(40px);
}

/* css for image */

.image{
    /* border: 1px solid green; */
    margin-block-start: 8%;
    margin-inline-start: 10%;
    padding: 20px;
    width: 25%;
    position: absolute;
}
.image > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 5px 4px 6px black;
    /* padding: 20px; */
    /* margin-inline-start: 5%; */
    /* margin-block-start: 3%; */
}
/* first page */
#first-page {
    padding: 10px;
    margin: 5px;
    height: 80%;
}

/* second page */
#second-page {
    padding: 10px;
}

#second-page p, #second-page i {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* third page */
#third-page {
    padding: 10px;
    margin: 5px;
}

/* content for the text */

.body-container {
    border-radius: 5%;
    background-color: #c7d5ff6c;
    width: 45%;
    height: 70vh;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-top: 5px;
    margin-inline-start: 40%;
    position: absolute;
    overflow: hidden;
}

.body-content {
    /* border: 1px solid black; */
    position: relative;
    animation: sample 0.5s alternate-reverse ;
    /* overflow: hidden; */

}

@keyframes sample {

    100%{
        margin-left: -30%;
    }

}

.body-content:nth-child(7){
    display: none;
}

p {
    display: inline;
    width: fit-content;
    margin: 0;  
    font-family: arial;
    font-size: 18px;  
    font-weight: bold;
    letter-spacing: 1px;
}

h2{
    font-family: tahoma;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 20px;
}

p:nth-child(3) {
    /* border: 1px solid black; */
    font-style: oblique;
}

p:nth-child(5) {
    /* border: 1px solid black; */
    font-style: oblique;
}

/* css design for contact info */
.contact {
    /* border: 2px solid red; */
    line-height: 20px;
}

i {
    font-size: 25px;
    margin: 5px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

a:hover {
    color: white;
}

.contact > p:nth-child(8) {
    font-size: 18px;
}


/* css for skills info */

.skills {
    /* border: 2px solid #000000; */
    line-height: 20px;
    width: 40%;
}

.inner-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.body-content:nth-child(2) > p{
    font-size: 16px;
    text-align: justify;
}

.other-skills > h3, .hobbies > h3 {
    font-size: 17px;
}

.other-skills {
    margin-block-start: -10px;
    line-height: 20px;
    width: 60%;
}

.hobbies {
    margin-block-start: -10px;
    line-height: 20px;
    width: 38%;
}

.hobbies > p, .other-skills > p {
    font-size: 14px;
}



/* animated background */
.area{
    /* border: 1px solid yellow; */
    width: 95%;
    height:95vh;
    margin: auto;
    margin-bottom: -48%;
    position: relative;
}

.circles{
    position: relative;
    top: -5%;
    left: -5%;
    width: 100%;
    height: 102vh;
    overflow: hidden;
}

.circles li{
    /* border: 1px solid red; */
    position: relative;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #f39c12;
    animation: animate 25s linear infinite;
    bottom: -100%;
    
}

.circles li:nth-child(1){
    left: 8%;
    width: 80px;
    height: 80px;
    animation-delay: 11s;
}


.circles li:nth-child(2){
    left: 4%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 25%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 55%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



/* Responsive */
@media only screen and (max-width: 720px) {
    div.btns {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {

    div.btns {
        /* border: 1px solid yellow; */
        position: relative;
        margin: auto;
        width: 100%;
        margin-block-start: -14%;
        margin-inline-start: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    div.btns > a {
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        padding: 5px;
        width: 20%;
        background-color: white;
    }
    
    .btns a:hover {
        color: black;
        background-color: #f39c12;
    }
    
    
    /* button design for light and dark mode */
    
    div.btn-container {
        /* border: 1px solid yellow; */
        border-radius: 45px;
        width: 6%;
        margin-block-start: -95vh;
        margin-block-end: 50%;
        margin-inline-start: 80%;
        cursor: pointer;    
    }

    label.checkbox-label {
        margin-inline-start: 40%;
        width: 60px;
        height: 20px;
    }

    label.checkbox-label .ball {
        background-color: #fff;
        width: 42%;
        height: 28px;
        position: absolute;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .fa-moon, .fa-sun {
        font-size: 20px;
    }


      /* css for image */
    body .image {
        /* border: 1px solid red; */
        margin-inline-start: 28%;
        margin-top: -55%;
        width: 40%;
        padding: 0px;
    }


    /* content */
    .body-container {
        margin-inline-start: 3%;
        width: 91%;
        height: 60vh;
        padding: 0;
        overflow-y: scroll;
    }

    .body-content h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .body-content p, .body-content h3, .body-content a {
        font-size: 12px;
    }

    #first-page .contact a, #first-page .contact p {
        display: flex;
        align-items: center;
        font-size: 10px;
        word-wrap: break-word;
    }

    #first-page .contact i {
        font-size: 18px;
    }

    #first-page .skills p{
        font-size: 10px;

        /* width: 60%; */
    }


    #second-page p {
        font-size: 11px;
        display: flex;
        margin-top: -10px;
    }

    #third-page p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #first-page .outer-content {
        margin-top: -5%;
    }

    #first-page .outer-content p, #first-page .outer-content a{
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    /* background */
    .circles {
        /* border: 1px solid red; */
        margin-inline-start: -2%;
    }
}


@media only screen and (max-width: 768px) {

    .btns {
        /* border: 1px solid black; */
        position: relative;
        margin-inline-start: 40%;
        width: 60%;
    }
    
    div.btns > a {
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        padding: 5px;
        width: 20%;
        background-color: white;
    }
    
    
    /* button design for light and dark mode */
    
    .btn-container {
        position: relative;
        border-radius: 45px;
        width: 6%;
        margin-top: 0;
        margin-bottom: 2%;
        margin-inline-start: 83%;
        cursor: pointer;
    }

    label.checkbox-label {
        margin-inline-start: 40%;
        width: 60px;
        height: 20px;
    }

    label.checkbox-label .ball {
        background-color: #fff;
        width: 42%;
        height: 28px;
        position: absolute;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    .fa-moon, .fa-sun {
        font-size: 20px;
    }


      /* css for image */

    /* div.image{
        top: 8%;
        margin-inline-start: 18px;
        width: 35%;
    }
    div.image > img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    } */

    /* content */
    .body-container {
        overflow: scroll;
    }

    .body-content h2 {
        font-size: 20px;
    }

    .body-content p, .body-content h3, .body-content a {
        font-size: 12px;
    }

    #first-page .contact a, #first-page .contact p {
        display: flex;
        align-items: center;
        font-size: 10px;
        word-wrap: break-word;
    }

    #first-page .contact i {
        font-size: 18px;
    }

    #first-page .skills p{
        font-size: 10px;
    }


    #second-page p {
        font-size: 11px;
        display: flex;
        margin-top: -10px;
    }

    #third-page p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #first-page .outer-content {
        margin-top: -5%;
    }

    #first-page .outer-content p, #first-page .outer-content a{
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    /* background */
    /* .area{
        width: 100%;
        height:95vh;
        margin: auto;
        margin-bottom: -68%;
        position: relative;
    } */

}


@media only screen and (max-width: 1024px) {
    .area{
        /* border: 1px solid red; */
        width: 95%;
        height:95vh;
        margin: auto;
        margin-bottom: -68%;
        position: relative;
    }

    .btns {
        /* border: 1px solid yellow; */
        position: relative;
        margin: auto;
        width: 42%;
        margin-block-start: 0%;
        margin-inline-start: 41%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .btns a {
        border-radius: 15px;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 20%;
        background-color: white;
    }
    
    .btns a:hover {
        color: black;
        background-color: #f39c12;
    }
    
    
    /* button design for light and dark mode */
    
    .btn-container {
        position: relative;
        border-radius: 45px;
        width: 6%;
        margin-top: -10%;
        margin-bottom: 2%;
        margin-inline-start: 81%;
        cursor: pointer;
    }

    .checkbox-label {
        width: 100%;
      }

    .checkbox-label .ball {
        background-color: #fff;
        width: 50%;
        height: 33px;
        position: absolute;
        left: 1px;
        top: 1px;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }

      /* css for image */

    .image{
        /* border: 1px solid green; */
        margin-block-start: 8%;
        margin-inline-start: 5%;
        padding: 20px;
        width: 30%;
        position: absolute;
    }
    .image > img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        /* padding: 20px; */
        /* margin-inline-start: 5%; */
        /* margin-block-start: 3%; */
    }

    .inner-content .contact a, .inner-content .contact p {
        display: flex;
        align-items: center;
        font-size: 12px;
        word-wrap: break-word;
    }

    .body-content #first-page .contact i {
        font-size: 18px;
    }

    #first-page .skills p{
        font-size: 10px;

        /* width: 60%; */
    }


    #second-page p {
        font-size: 11px;
        display: flex;
        margin-top: -10px;
    }

    #third-page p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body-content .outer-content {
        /* border: 1px solid yellow; */
        margin-top: 5%;
    }

    .body-content .outer-content p, .body-content .outer-content a{
        display: inline;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }


}

@media only screen and (min-width: 1440px) {
    .area{
        /* border: 1px solid red; */
        width: 95%;
        height:95vh;
        margin: auto;
        margin-bottom: -60%;
        position: relative;
    }

    .body-container {
        border-radius: 5%;
        background-color: #c7d5ff6c;
        width: 45%;
        height: 50vh;
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        margin-top: 5px;
        margin-inline-start: 40%;
        position: absolute;
        overflow: hidden;
    }

    #second-page p, #second-page i {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
}



