body {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    font-family: Arial;
    transition: background 0.2s linear;
}

/* button design for light and dark mode */

.btn-container {
    border: 1px solid black;
    border-radius: 45px;
    width: 6%;
    margin-top: 5%;
    margin-bottom: -5%;
    margin-inline-start: 81%;
    cursor: pointer;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h2, body.dark h3, body.dark p, body.dark a, body.dark a ~ i {color: white;}

.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox-label {
  background-color: #111;
  width: 90%;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 45%;
  height: 33px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(40px);
}

/* .btn-container {
    border-radius: 45px;
    width: 15%;
    margin-top: 5%;
    margin-bottom: -5%;
    margin-inline-start: 72%;
    box-shadow: 0 8px 20px rgba(0,0,0, .3);
    cursor: pointer;
}

i:nth-child(1), i:nth-child(2) {
    border-radius: 50%;
    background-color: rgb(239, 239, 239);
    overflow: hidden;
    padding: 10px;
    width: 30px;
    margin-inline-start: 15%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
    transition: transform .3s ease;
} */
/* css for image */

.image{
    border: 1px solid green;
    margin-block-start: 5%;
    margin-inline-start: 7%;
    padding: 20px;
    width: 25%;
    position: absolute;
}
.image > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    /* padding: 20px; */
    margin-inline-start: 5%;
    /* margin-block-start: 3%; */
}

/* content for the text */

.body-content {
    border: 1px solid black;
    width: 45%;
    height: 70vh;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-top: 5%;
    margin-inline-start: 40%;
    position: absolute;
    overflow: hidden;

}

p {
    display: inline;
    width: fit-content;
    margin: 0;  
    font-size: 18px;  
    font-weight: bold;
    letter-spacing: 1px;
}

h2{
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 20px;
}

p:nth-child(3) {
    /* border: 1px solid black; */
    font-style: oblique;
}

p:nth-child(5) {
    /* border: 1px solid black; */
    font-style: oblique;
}

/* css design for contact info */
.contact {
    border: 2px solid red;
    line-height: 2px;
}

i {
    font-size: 25px;
    margin: 5px;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.contact > p:nth-child(8) {
    font-size: 18px;
}


/* css for skills info */

.skills {
    border: 2px solid #000000;
    line-height: 2px;
    width: 35%;
}

.inner-content {
    border: 1px solid yellow;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* animated background */
.area{
    border: 1px solid yellow;
    width: 95%;
    height:95vh;
    margin: auto;
    margin-bottom: -48%;
    position: relative;
    
   
}

.circles{
    position: relative;
    top: -5%;
    left: 0;
    width: 100%;
    height: 105%;
    overflow: hidden;
}

.circles li{
    border: 1px solid red;
    position: relative;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -100%;
    
}

.circles li:nth-child(1){
    left: 8%;
    width: 80px;
    height: 80px;
    animation-delay: 11s;
}


.circles li:nth-child(2){
    left: 4%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 25%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 55%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



