body {
    font-family: Arial;
}

.btn-container {
    border-radius: 45px;
    width: 15%;
    margin-top: 5%;
    margin-bottom: -5%;
    margin-inline-start: 72%;
    box-shadow: 0 8px 20px rgba(0,0,0, .3);
    cursor: pointer;
}

i:nth-child(1), i:nth-child(2) {
    border-radius: 50%;
    background-color: rgb(239, 239, 239);
    overflow: hidden;
    padding: 10px;
    width: 30px;
    margin-inline-start: 15%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
    transition: transform .3s ease;
}

div > img {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    padding: 20px;
    margin-inline-start: 10%;
    margin-block-start: 3%;
}

/* content for the text */

.body-content {
    border: 1px solid black;
    width: 45%;
    height: 300px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-top: -25%;
    margin-inline-start: 40%;

}

p {
    display: inline;
    width: fit-content;
    margin: 0;  
    font-size: 20px;  
    font-weight: bold;
    letter-spacing: 1px;
}

h2{
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 20px;
}

p:nth-child(3) {
    /* border: 1px solid black; */
    font-style: oblique;
}

p:nth-child(5) {
    /* border: 1px solid black; */
    font-style: oblique;
}

i {
    font-size: 25px;
    margin: 5px;
}



